
<!-- Dynamically injected -->
<div id="IndiTasksDivID" ng-init="index=getIndexOf(routeTask_ID)" style="max-height:585px;background-color:#EEEEEE;border-top:8px solid #f4f3f3;overflow-y:auto;" >
					
	<!-- nav1 -->
	<div class="century container" style="background-color:#ffffff;height:35px;border-bottom:1px solid #d1d1d1;border-top:1px solid #d1d1d1;width:488px">

		<div  id="nav1" class="right-nav">
			<div style="float:left;">
				
				<img ng-click="addAssignedTo(index)" class="teampic" style="height:19px; margin-left:10px;margin-top:7px" src="images/pic.png">

				
			</div>
			<select style="float:left;width:80px;margin-top:5px;margin-left:14px;" ng-Change="addAssignedTo(JsonData[index])" ng-model="tempAssignedTo">
				<option value="" style="display:none;">Assign To</option>
				<option value="{{member.User_ID}}" ng-repeat="member in ListAllProjects[getProjectIDfromStateParams()].Project_Members">{{member.User_Name}}</option>				
			</select>
			<div  style="float:left;margin-top:5px;margin-left:14px;" ng-click="addAssignedTo(index)">
				{{getAssignedTo(JsonData[index])}}
			</div>
			<div  style="float:right;margin-top:3px;margin-right:3px;">
				<a href="" >
					<img ng-click="removeAssignedTo(index)" class="teampic" style="height:12px; margin-left:0px;margin-top:0px" src="images/close.png">

				</a>
			</div>
			
		</div>

		<div  id="nav1" class="right-nav" ng-click="openDatePicker(JsonData[index])" style="cursor:pointer;">
			<div style="float:left;">
				
				<img class="teampic" style="height:19px; margin-left:10px;margin-top:7px" src="images/time.png" >
				
			</div>
			<div style="float:left; margin-top: 5px; margin-left:14px">
				due date
				<input data-date-format="dd-mm-yyyy" value="{{JsonData[index].DueDate}}" type="text" style="height:2px;width:2px;padding:0px;margin:-40px;background-color:#e3e3e3;border:0px" class="customDatePicker">
				 
			</div>
			
		</div>

		<div style="float:left;margin-top:7px">
			<img style="height:15px;margin-left:20px"src="images/pin.png">

			<img ng-show="JsonData[index].Task_Star" ng-click="starTask(JsonData[index])" style="height:15px;margin-left:14px;cursor:pointer;" src="images/luv-true.png">
			
			<img ng-hide="JsonData[index].Task_Star" ng-click="starTask(JsonData[index])" style="height:15px;margin-left:14px;cursor:pointer;" src="images/luv.png">

			
			<img style="height:15px;margin-left:14px" src="images/lock.png">
			
			<img ng-show="JsonData[index].Task_Clock" ng-click="clockTask(JsonData[index])" style="height:15px;margin-left:14px;cursor:pointer;" src="images/clock-true.png">

			<img ng-hide="JsonData[index].Task_Clock" ng-click="clockTask(JsonData[index])" style="height:15px;margin-left:14px;cursor:pointer;" src="images/clock-false.png">
			
			<img ng-click="removeTask(JsonData[index])" style="height:18px;margin-left:30px;cursor:pointer;" src="images/delete.png">
			
		</div>
	</div>	
			<!-- nav1 ends -->

	<!-- Task Details-1 -->
	<div class="row century" style="background-color:#ffffff;height:180px;border-bottom:1px solid #d1d1d1;padding:4px;overflow:hidden;">
		<p style="margin-left:20px;margin-top:10px;font-size:20px;color:#747474;margin-bottom:0px">Project {{JsonData[index].PID}}</p>

		<div class="container"style="margin-left:40px;margin-top:5px;margin-bottom:0px;font-size:15px;color:#747474">
			<div style="margin-bottom:0px;float:left">
				<strong>Task Name</strong>
			</div>

			<form ng-submit="updateTaskrREST('tasks',JsonData[index])" style="margin-left:10px;float:left">
				<input class="century" style="font-size:12px;color:white;width:300px;background-color:#77D28E;border:1px solid #77D28E;" type="text" ng-model="JsonData[index].Task_Name">
			</form>
		</div>

		<div class="container century">
			<div style="margin-left:40px;float:left;font-size:15px;color:#747474;margin-top:4px"><strong>Description</strong>
			</div>
			<form ng-submit="updateTaskrREST('tasks',JsonData[index])" style="margin-left:8px;float:left">
				<textarea ng-change="updateTaskrREST('tasks',JsonData[index])" class="century" style="font-size:12px;color:white;width:300px;background-color:#77D28E;border:1px solid #77D28E;" type="text" ng-model="JsonData[index].Task_Description"></textarea>
			</form>
		</div>
	</div>

	<!-- Tags --> <!-- Give max-height  -->
	<div class="row century" style="background-color:#E3E3E3;border-bottom:1px solid #d1d1d1;border-top:0px solid #d1d1d1;padding:4px;overflow:hidden;max-height:90px;color:#747474;overflow:auto;">
		<!-- Tag logo -->
		<div style="float:left;margin-right:10px;margin-top:2px"><strong>Tags</strong></div>
		
		<!-- Tags go Here -->
		<div class="tag" ng-click="removeTag(index,tag)" ng-repeat="tag in JsonData[index].Tags track by $index" style="cursor:pointer;">{{tag.Tag_Name}}</div>

		<!-- input for new tag -->
		<form ng-submit="addTag(JsonData[index])" ng-show="AdddingANewTag" style="float:left;margin-bottom:0px">
			<input ng-model="newTag" class="century" style="color:#989898" placeholder="New Tag">
		</form>
		
		<!-- Add a tag -->
		<div style="float:left;margin-left:10px" ng-hide="AdddingANewTag">	
			<img src="images/add.png" style="width:20px" ng-click="AddingANewTag()">
		</div>
		

	</div>

	<!-- Comments -->
	<div class="row century" style="background-color:#E3E3E3;max-height:150px;border-bottom:1px solid #d1d1d1;border-top:0px solid #d1d1d1;padding:4px;color:#747474;overflow-y:auto;">
			<div style="margin-left:20px">
				<img style="width:20px"src="images/comment.png">

				post a comment
			</div>	
			<form ng-submit="addComment(JsonData[index])" style="margin-left:20px;float:left;margin-top:10px;margin-bottom:0px">
				<input class="century"style="background-color:#ffffff;border:1px solid #ffffff;font-size:12px;color:#77d28e;width:400px" type="text" ng-model="comment">
			</form>
	</div>

	<div class="row century" style="background-color:#E3E3E3;max-height:150px;border-bottom:1px solid #d1d1d1;border-top:0px solid #d1d1d1;color:#747474;overflow-y:auto;overflow-x:hidden">
		<p class="comment"style="float:left;width:100%;" ng-repeat="comment in JsonData[index].Comments | orderBy:comment.Comment_CreatedDateTime track by $index" ng-hide="comment==null"> <i><strong>{{comment.User_Name}}</strong></i> says   <i><strong>"{{comment.Comment_Body}}"</strong></i></p>
		
		
	</div>

	<!-- Followers -->
	<div class="container century" style="width:480px;background-color:#ffffff;max-height:60;border-bottom:1px solid #d1d1d1;border-top:0px solid #d1d1d1;padding:4px;overflow:auto;">
		<div style="float:left">	
			<img src="images/ppl.png" style="width:20px">
		</div>	

		<div style="width:80px;float:left;margin-left:10px;color:#747474">Followers | </div>

		<div style="cursor:pointer;float:left;margin-right:10px;color:#747474" ng-repeat="follower in JsonData[index].Task_Followers" ng-click="removeFollower(JsonData[index],follower)" ng-hide="follower==null">{{follower.User_Name}}
		</div>
	

		<!-- input for new Follower -->
		<form ng-submit="addFollower(JsonData[index])" ng-show="AddingANewFollower" style="float:left;margin-bottom:0px">
			<input ng-model="newFollower" class="century" style="color:#989898" placeholder="New Follower">
		</form>
		
		<!-- Add a Follower -->
		<div style="float:left;margin-left:10px" ng-hide="AddingANewFollower">	
			<img src="images/add.png" style="width:20px" ng-click="AddingANewFollower=1">
		</div>		
	</div>
</div>

<button ng-click="getProjectIDfromStateParams()">Click</button>