<!-- individual taskNew -->
<div id="nav1" id="TaskRow{{task.TID}}" ng-repeat="task in JsonData | filter:SearchString | orderBy:sortOrder | filter:{PID:routePID}" class="row IndividualTaskRow">
	
	<div class="century IndividualTaskRowTID">
		{{task.TID}}
	</div>

	<div ng-show="task.clocked" style="width:15px;float:left;margin-left:5px;margin-top:3px">
		<img ng-click="clockTask(task)" src="images/clock-true.png">
	</div>

	<div ng-hide="task.clocked" style="width:15px;float:left;margin-left:5px;margin-top:3px">
		<img ng-click="clockTask(task)" src="images/clock-false.png">
	</div>

	<div ng-show="task.star" style="width:15px;float:left;margin-left:5px;margin-top:3px">
		<img ng-click="starTask(task)" src="images/luv-true.png">
	</div>
	<div ng-hide="task.star" style="width:15px;float:left;margin-left:5px;margin-top:3px">
		<img ng-click="starTask(task)" src="images/luv.png">
	</div>

	<div class="IndividualTaskRowCheckBox">
		<input type="checkbox" ng-model="task.completed">

	</div>

	<div class="century IndividualTaskRowInput" style="margin-top:3px">
		<span style="float:left;" ng-hide="task.editingTaskName" ng-click="startEditing(task,'taskName')">{{task.TN}}</span>
		
		
		<form ng-submit="doneEditing(task,'taskName')" ng-show="task.editingTaskName" style="width:300px;margin-bottom:0px">
			<input ng-blur="doneEditing(task,'taskName')" ng-focus="task==editedTaskName" ng-model="task.TN" class="century input-large" style="float:left;color:#ffffff;background-color:#77d28e;border:0px solid #d1d1d1;">

		</form>
		
	</div>

</div>







